<!DOCTYPE html>
<html>
    <head>
        <title>Poshare</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div id="map"></div>
        <div id="overlay">
            <ul id="messages"></ul>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>
            var hostname = "<%= hostname %>";
            var port = "<%= port %>";
        </script>

        <script src="/javascripts/dateformat.js"></script>
        <script src="/javascripts/socket.js"></script>
        <script src="/javascripts/rtc.js"></script>
    </body>
</html>